* {
  margin: 0px;
  padding: 0px;
}

.container {
  width: 200px;
  height: 200px;
  position: relative;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  -ms-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  margin: 40px auto;
}

#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform: translateZ(-100px);
  -webkit-transform: translateZ(-100px);
  -ms-transform: translateZ(-100px);
  -moz-transform: translateZ(-100px);
  -o-transform: translateZ(-100px);
  transition: -webkit-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  -ms-transition: -webkit-transform 0.5s;
  -moz-transition: -webkit-transform 0.5s;
  -o-transition: -webkit-transform 0.5s;
}
#cube figure {
  width: 196px;
  height: 196px;
  display: block;
  position: absolute;
  border: 2px solid black;
  line-height: 196px;
  font-size: 120px;
  font-weight: bold;
  color: white;
  text-align: center;
}
#cube .front {
  transform: rotateY(0deg) translateZ(100px);
  -webkit-transform: rotateY(0deg) translateZ(100px);
  -ms-transform: rotateY(0deg) translateZ(100px);
  -moz-transform: rotateY(0deg) translateZ(100px);
  -o-transform: rotateY(0deg) translateZ(100px);
  background: red;
  opacity: 1;
}
#cube .right {
  transform: rotateY(90deg) translateZ(100px);
  -webkit-transform: rotateY(90deg) translateZ(100px);
  -ms-transform: rotateY(90deg) translateZ(100px);
  -moz-transform: rotateY(90deg) translateZ(100px);
  -o-transform: rotateY(90deg) translateZ(100px);
  background: lime;
  opacity: 1;
}
#cube .left {
  transform: rotateY(-90deg) translateZ(100px);
  -webkit-transform: rotateY(-90deg) translateZ(100px);
  -ms-transform: rotateY(-90deg) translateZ(100px);
  -moz-transform: rotateY(-90deg) translateZ(100px);
  -o-transform: rotateY(-90deg) translateZ(100px);
  background: cyan;
  opacity: 1;
}
#cube .top {
  transform: rotateX(90deg) translateZ(100px);
  -webkit-transform: rotateX(90deg) translateZ(100px);
  -ms-transform: rotateX(90deg) translateZ(100px);
  -moz-transform: rotateX(90deg) translateZ(100px);
  -o-transform: rotateX(90deg) translateZ(100px);
  background: blue;
  opacity: 1;
}
#cube .bottom {
  transform: rotateX(-90deg) translateZ(100px);
  -webkit-transform: rotateX(-90deg) translateZ(100px);
  -ms-transform: rotateX(-90deg) translateZ(100px);
  -moz-transform: rotateX(-90deg) translateZ(100px);
  -o-transform: rotateX(-90deg) translateZ(100px);
  background: magenta;
  opacity: 1;
}
#cube.show-front .front, #cube.show-right .right, #cube.show-left .left, #cube.show-top .top, #cube.show-bottom .bottom {
  opacity: 1;
}
#cube.show-front {
  transform: translateZ(-100px) rotateY(0deg);
  -webkit-transform: translateZ(-100px) rotateY(0deg);
  -ms-transform: translateZ(-100px) rotateY(0deg);
  -moz-transform: translateZ(-100px) rotateY(0deg);
  -o-transform: translateZ(-100px) rotateY(0deg);
}
#cube.show-right {
  transform: translateZ(-100px) rotateY(-90deg);
  -webkit-transform: translateZ(-100px) rotateY(-90deg);
  -ms-transform: translateZ(-100px) rotateY(-90deg);
  -moz-transform: translateZ(-100px) rotateY(-90deg);
  -o-transform: translateZ(-100px) rotateY(-90deg);
}
#cube.show-left {
  transform: translateZ(-100px) rotateY(90deg);
  -webkit-transform: translateZ(-100px) rotateY(90deg);
  -ms-transform: translateZ(-100px) rotateY(90deg);
  -moz-transform: translateZ(-100px) rotateY(90deg);
  -o-transform: translateZ(-100px) rotateY(90deg);
}
#cube.show-top {
  transform: translateZ(-100px) rotateX(-90deg);
  -webkit-transform: translateZ(-100px) rotateX(-90deg);
  -ms-transform: translateZ(-100px) rotateX(-90deg);
  -moz-transform: translateZ(-100px) rotateX(-90deg);
  -o-transform: translateZ(-100px) rotateX(-90deg);
}
#cube.show-bottom {
  transform: translateZ(-100px) rotateX(90deg);
  -webkit-transform: translateZ(-100px) rotateX(90deg);
  -ms-transform: translateZ(-100px) rotateX(90deg);
  -moz-transform: translateZ(-100px) rotateX(90deg);
  -o-transform: translateZ(-100px) rotateX(90deg);
}
